// Place all the styles related to the chutes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.chute_form {
  padding-left: 40px;
  max-width: 140px;
  font-size: 20px
}

#turbulent {
  max-width: 350px;
  color:red;
  padding-left: 40px;
  font-size: 20px;
}
